@import "../../common/css/reset.css";

body {
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
  background: #fff;
  color: #333;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.intro {
  background: #f2f2f2;
}

.content {
  background: #cce5ff;
  position: relative;
}

.box {
  width: 200px;
  height: 200px;
  background: #0077cc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.outro {
  background: #d2ffd2;
}