* {
  /* cursor: none !important; */
}
.cursor {
  position: fixed;
  width: 20rem;
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
  z-index: 10000;
  border-radius: 50%;
  border: 1px dashed rgba(0, 0, 0, 0.5);

  /* backdrop-filter: blur(1px) brightness(1); */
  transform-origin: 50% 50%;
  opacity: 1;
  animation:
    rotateCounterClockwise 10s linear infinite,
    borderColorShift 3s linear infinite;
  transition: none;
}
.cursor.active {
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  pointer-events: all;
  width: 150px;
  height: 40px;
  border-radius: 40rem;
  border-color: #fff;
  backdrop-filter: none;
  background: none;
  opacity:0;
  animation: none;
  transition:
    width 0.15s ease-out,
    height 0.15s ease-out,
    scale 1s ease;
}

.cursor.hover {
}
@keyframes rotateCounterClockwise {
  from {
    transform: rotate(0deg); /* 시작 각도 */
  }
  to {
    transform: rotate(-360deg); /* 반시계 방향으로 한 바퀴 */
  }
}
@keyframes borderColorShift {
  0% {
    border-color: red;
  }
  /* 25% {
    border-color: blue;
  } */
  50% {
    border-color: purple;
  }
  /* 75% {
    border-color: blue;
  } */
  100% {
    border-color: red;
  }
}
.cursor.hover::before,
.cursor.hover::after {
  content: "";
  position: absolute;
  background: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: wave 2s infinite linear;
  filter: blur(2px);
}

.cursor.hover::after {
  opacity: 0;
  animation: wave 2s 0.7s infinite linear;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
}
